body{
    background-image: url(img/lindo.gif);
    font-family: cursive; 
}
label{
    color: hotpink;
}
button{
    background-color: aqua;
    margin: 25px;
}
button:hover{
    background-color: antiquewhite;
    padding: 20px;
    border: 3px solid yellow;
    font-size: 25px;
    color: fuchsia;
}
.dormi-face {
    background: url(img/dormi.jpg) no-repeat;
    background-size: contain;
    min-height: 200px;
    margin-left: 20px;
}
.despierto-face {
    background: url(img/despierto.jpg) no-repeat;
    background-size: contain;
    min-height: 200px;
    margin-left: 20px;
}

    

#salida {
    width: 300px;
    background-color: red;
   
}
#message{
    font-size: 20px;
color: darkmagenta;
    margin-left: 50px;
}